div#material-ui-InviteGuestFilter {
    overflow: visible !important;
}
div#material-ui-InviteGuestFilter {
    overflow: visible !important;
}
div#material-ui-pressMasterFilter {
    overflow: visible !important;
}