div#material-ui-form {
    overflow: visible !important;
}
div#material-ui-ServiceRequestFilterFormForEmployee {
    overflow: visible !important;
}

@media only screen and (max-width: 768px) {
    .ack-body, .ack-tail {
        display: contents;
        text-align: center !important;
    }}