      div#custom-atoms-footerEmp.addpadding {
        padding-bottom: 66px;
        background: transparent;
        box-shadow: none; }
      
      // div#custom-atoms-footer {
      //   display: none; }
      div#custom-atoms-footerEmp {
        display: none;
    }