      div#custom-atoms-employeeFooter.addpadding {
        padding-bottom: 66px;
        background: transparent;
        box-shadow: none; }
      
      // div#custom-atoms-employeeFooter {
      //   display: none; }
      div#custom-atoms-employeeFooter {
        display: none;
    }