.card-content-style {
  padding: 0;
  padding-top: 24px !important
}

.landing-page-main-grid {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .module-card-style {
    min-height: 100px;
  }

  .landing-page-main-grid {
    padding-top: 24px !important;
  }
}
