div#material-ui-cardContent div thead tr th {
  padding-left: 22px !important; }

div#material-ui-cardContent tbody {
  word-break: break-all !important; }

form#apply_form1 tbody {
  word-break: break-all !important; }

@media only screen and (min-width: 551px) {
  .apply-wizard-footer {
    z-index: 201 !important; } }

@media only screen and (max-width: 551px) {
  .apply-wizard-footer {
    background-color: #ffffff;
    -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    /* padding: 8px; */
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: right;
    display: flex;
    padding: initial; }
  .apply-wizard-footer button {
    width: 100% !important;
    margin: initial;
    border: none;
    margin: 0 !important;
    border-radius: none !important; } }

.applicant-details-error p {
  font-size: 14px; }

#custom-containers-propertyMohalla div p {
  font-size: 14px; }
