.calendar-wrapper {
    display: flex;
    // align-items: baseline;
    justify-content: space-evenly;
}
.calendar-section {
    width: 66.66%;
}
.calendar-info {
    width: 33.33%;
    padding: 0 50px;
    margin-top: 15px;

    .calendar-info-title {
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.35417em;
        font-weight: 500;
    }
}

.DayPicker-NavButton--prev {
    margin-right: 0;
    left: 1.5em;
    right: auto;
    // top: 0;
}
// .DayPicker-NavButton--next {
//     // top: 0;
//     // right: 10px;
// }

.DayPicker-Caption > div {
    text-align: center;
}

.DayPicker {
    width: 100%;
    outline: none;
}
.DayPicker-Months {
    justify-content: space-between;
}
.DayPicker-Month {
    flex: 0 0 45%;
    // margin : 0
}
.DayPicker-Day {
    height: 46px;
    width: 46px;
    max-width: 46px;
    max-height: 46px;
}
.Selectable
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.Selectable .DayPicker-Day--today:not(.DayPicker-Day--outside) {
    color: #ffffff;
    background: #4a90e2;
    border-radius: 50% !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    color: #ffffff;
    background: #4a90e2;
    outline: none;
    border-radius: 50% !important;
}

.DayPicker-Caption {
    margin-bottom: 15px;
}
.DayPicker-Caption > div {
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.87);
}

.DayPicker-Day--disabled:not(.DayPicker-Day--outside),
.DayPicker-Day--disabled.DayPicker-Day--today {
    background-color: #f4403412 !important;
    color: #f44336ad;
    border-radius: 0 !important;
}
.DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected.DayPicker-Day--disabled {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  background-color: #4A90E2 !important;
  color: #F0F8FF;
}

.DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected.DayPicker-Day--disabled {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  background-color: #4a90e2 !important;
  color: #f0f8ff;
}