div#material-ui-header {
    z-index: 1;
}
div#custom-atoms-headerDiv div>div:nth-child(5) {
    z-index: 1 !important;
}
div#material-ui-header>div:nth-child(5) {
    z-index: 1;
}

div#material-ui-searchCriteria {
    overflow: visible;
}