.module-page-icon {
  height: 40px !important;
  width: 40px !important;
  color: #fe7a51;
}

@media only screen and (min-width: 768px) {
  .module-page-icon {
    height: 65px !important;
    width: 50px !important;
  }
}
